
<div class="flex justify-center items-center h-screen ">
  <div class="shadow-lg rounded-lg  w-full max-w-xl" style="max-width: 70%;" >

  <div class="overflow-x-auto rounded-lg">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow sm:rounded-lg ">

        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">



          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>

              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Bloc Name
              </th>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Room N°
              </th>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Type
              </th>

              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Acltion
              </th>
              <th>
                <a  routerLink="/back/chambre/addChambre" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"> Add</a>

              </th>
            </tr>
          </thead>
          <tbody class="bg-gray-200 dark:bg-gray-100"  *ngFor="let chambre of chambre">



            <tr>
              <td class="p-4 text-sm font-normal text-gray whitespace-nowrap dark:text-gary">
               Bloc
                <b>
                {{ chambre.nomBloc }}
               </b>
              </td>

              <td class="p-4 text-sm font-normal text-gray whitespace-nowrap dark:text-gray">
                {{ chambre.numChambre }}
              </td>
              <td class="p-4 text-sm font-normal text-gray whitespace-nowrap dark:text-gray">
                <span>{{ chambre.typeChambre }}</span>
              </td>
              <td class="p-4 whitespace-nowrap">
                <button [routerLink]="['/back/chambre/editchambre',chambre.idChambre]"class="bg-green-500 text-white py-1 px-2 rounded-full text-xs ">update</button>

                <button (click)="delete(chambre.idChambre)" class="bg-red-500 text-white py-1 px-2 rounded-full text-xs ml-1">delete</button>


                </td>
                <td>

                </td>
            </tr>




          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

