<br>
<br>
<br>
<br>
<div>
  <div class="product-section mt-200 mb-200">
    <div class="container">
      <div class="row">
        <div class="col-lg-13 offset-lg-5 text-center">
          <div class="section-title">
            <div class=" flex justify-center items-center py-10">
              <div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-5 space-y-4 md:space-y-0">
                <div
                  class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500">
                  <form (ngSubmit)="ajouterReservation()" #f="ngForm">
                    <div class="row">
                      <div class="container">
                        <div class="mt-4">
                          <div class="form-group">
                            <label for="anneeUniversaire">Year of Reservation</label>
                            <input type="date" class="form-control" id="anneeUniversaire" name="anneeUniversaire"
                                   [(ngModel)]="Reservations.anneeUniversaire" ngModel required #b="ngModel">
                          </div>
                          <div class="alert alert-danger" *ngIf="b.invalid && b.touched">
                            the Year is a requierd Field !!!
                          </div>
                        </div>

                      </div>
                      <div class="container">
                        <div class="mt-4">
                          <div class="form-group">
                            <label for="chambre">Chose a Room:</label>
                            <select class="form-control" id="chambre" name="selectedChambre"
                                    [(ngModel)]="selectedChambre" ngModel required #n="ngModel">
                              <option *ngFor="let chambre of notReservedRooms" [ngValue]="chambre">
                                {{ chambre.numeroChambre }}
                                {{ chambre.typeChambre }}
                              </option>
                            </select>
                          </div>
                          <div class="alert alert-danger" *ngIf="n.invalid && n.touched">
                            The Room is a requierd field !!
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Save<i class="fa fa-plus"
                                                                                                    aria-hidden="true"></i></button>
                        <button class="btn btn-warning" type="submit" (click)="retour()"><i class="fa fa-arrow-left"
                                                                                            aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
