<div class="mt-5">
    <div class="container-fluid py-4">
        <form (ngSubmit)="ajouterReservation()">
            <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nomFoyer">Anne de Reservation</label>
                            <input type="date" class="form-control" id="anneeUniversaire" name="anneeUniversaire" [(ngModel)]="Reservations.anneeUniversaire">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="chambre">Choose a Chambre:</label>
                            <select class="form-control" id="chambre" name="selectedChambre" [(ngModel)]="selectedChambre">
                                <option *ngFor="let chambre of notReservedRooms" [ngValue]="chambre">
                                    {{ chambre.numeroChambre }}
                                    {{ chambre.typeChambre }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="etudiant">your Cin:</label>
                            <select class="form-control" id="etudiant" name="selectedEtudiant" [(ngModel)]="selectedEtudiant">
                                <option *ngFor="let etudiant of EtudiantWithoutReservation" [ngValue]="etudiant">
                                    {{ etudiant.cin }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary">Ajouter</button>
                    </div>
            </div>
        </form  >
    </div>
</div>